{% extends 'base.html' %}

{% block title %}Rates{% endblock title%}

{% block content %}

<div class="col-6 mx-left col-lg-2 ">
  {% load crispy_forms_tags %}
    <form method="get">
   {{ filter.form|crispy }}
    <button type="submit" class="btn btn-light">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
</form>
</div>
<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Created</th>
      <th scope="col">Currency</th>
      <th scope="col">Buy</th>
      <th scope="col">Sale</th>
      <th scope="col">Source</th>
    </tr>
  </thead>

  <tbody>
  {% for rate in object_list %}
    <tr>
      <th scope="row"> {{ rate.created }}  </th>
      <td> {{ rate.get_currency_display }} </td>
      <td> {{ rate.buy }} </td>
      <td> {{ rate.sale }} </td>
      <td> {{ rate.get_source_display }} </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<div>
{% include 'includes/pagination.html' %}
</div>

{% endblock content%}