{% extends 'base.html' %}

{% block title %}Education{% endblock title%}

{% block content %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Hillel IT School</h3>
                <div class="subheading mb-3">Python Advanced</div>
                <div>Python Web Development</div>
                <a href="https://certificate.ithillel.ua/view/84439452/en"><p>Certificate</p></a>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">December 2019 - April 2020</span>
            </div>
        </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Hillel IT School</h3>
                <div class="subheading mb-3">Introduction Python</div>
                <div>Base knowledge of Python</div>
                <a href="https://certificate.ithillel.ua/view/92490509/en"><p>Certificate</p></a>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2019 - November 2019</span>
            </div>
        </div>

         <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Level Up IT learning center</h3>
                <div class="subheading mb-3">SQL Database Development</div>
                <div>DBMS, SQL queries, DB administration</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2018 - January 2019</span>
            </div>
        </div>


         <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Oles Honchar Dnipro National University</h3>
                <div class="subheading mb-3">Master of Economics</div>
                <div>Business, trade and exchange activities</div>
                <p>Diploma with honors</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2016 - January 2018</span>
            </div>
        </div>

         <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Oles Honchar Dnipro National University</h3>
                <div class="subheading mb-3">Bachelor of Economics</div>
                <div>Economics of Enterprise</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2012 - June 2016</span>
            </div>
        </div>

    </div>
</section>
{% endblock content%}