{% extends 'base.html' %}

{% block title %}Experience{% endblock title%}

{% block content %}


<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Data analyst</h3>
                <div class="subheading mb-3">Omega Ltd. (Varus) </div>
                <p>I working with analytical reports and statistical samples. The main idea is to automate routine tasks,
                    streamline and digitize business processes. I also is one of PMs of Dashboards project.
                    My playing field is all about data: a sources, an agrigations, the reglament jobs on SQL Server
                    As a part of analysts team I help and train new members.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">April 2019 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Store administrator</h3>
                <div class="subheading mb-3">Amadeo Ltd. (Pandora)</div>
                <p>My goal was store's KPI execution. I controled employees with their personal plans and tasks.
                Important part of work was the conducting training and assessment of personnel knowledge.
                 I also successfully worked with VIP clients and conflict situations.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November 2017 - April 2019</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Sale manager</h3>
                <div class="subheading mb-3">Amadeo Ltd. (Pandora)</div>
                <p>The main idea was the communication with clients and sales. I acted according to Pandora's standards
                    and was successful sale manager. This leaded me to administrator role.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November 2016 - November 2017</span>
            </div>
        </div>
    </div>

</section>

{% endblock content%}