{% extends 'base.html' %}

{% block title %}Interests{% endblock title%}

{% block content %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from working, I enjoy study and discover something new. I like to improve existing skills and learn
            new ones. And it doesn't matter, if we talk about new web technology or cake recipe.
            In addition, I like to read. I prefer science and fantasy literature, but I don’t forget
            the classics either.</p>
        <p class="mb-0">I enjoy being outside and take pictures. The mobile photo was my passion for a long time.
        At the moment I am passionate about sports, especially power trainings. I have strong mind, it's time to take
            care about the body. My dream is to take part in running competition like Interpipe Half marathon or another
            one.</p>
    </div>
</section>

{% endblock content%}