{% extends 'base.html' %}

{% block title %}Skills{% endblock title%}

{% block content %}


<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-python"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-github"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-docker"></i>
            </li>

            <li class="list-inline-item">
                <i class="fab fa-digital-ocean"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-bootstrap"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-jira"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                blabla
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                blabla
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                blabla
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                blabla
            </li>
        </ul>
    </div>
</section>
{% endblock content%}